<script>
    $(document).ready(function(){
        $('ul.tabs').tabs();
    });
    $(document).ready(function(){
        $('.collapsible').collapsible({
            accordion : false // A setting that changes the collapsible behavior to expandable instead of the default accordion style
        });
    });
</script>

<div class="row" ng-controller="ServiceController as serviceCtrl" ng-init="tab = 1">
    <h1 class="card text-center">Our Services</h1>
    <div class="col s12">
        <ul class="tabs main-tabs">
            <li class="tab col s3"><a href class="active" ng-class="{ active: tab == 1}" ng-click="tab = 1">Cosmetic Tatooing</a></li>
            <li class="tab col s3"><a href ng-class="{ active: tab == 2}" ng-click="tab = 2">Skin Revision</a></li>
        </ul>
        <div class="service" ng-if="tab == 1">
            <div class="col s12">
                <div class="col s12 m10 offset-m1">
                    <h2>Cosmetic Tatooing</h2>
                    <p>{{serviceCtrl.getServiceDesc(0)}}</p>
                </div>
            </div>
            <div class="panel-group" id="accordion">
                <div class="panel panel-default">
                    <div ng-repeat="service in serviceCtrl.services[0].options" id="service-body" ng-init="iconOn = true">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a href="javascript:;" ng-click="iconOn = !iconOn" ng-id="{{service.id}}" data-toggle="collapse" data-parent="#accordion" data-target="#{{service.id}}">
                                    <i ng-if="iconOn" class="mdi-navigation-expand-more small"></i>
                                    <i ng-if="!iconOn" class="mdi-navigation-expand-less small"></i>
                                    {{service.name}}
                                </a>
                            </h4>
                        </div>
                        <div ng-attr-id="{{service.id}}" class="panel-collapse collapse out">
                            <div class="panel-body">
                                <div class="col s12 m4">
                                    <p>{{service.description}}</p>
                                </div>
                                <div class="col s12 m8" id="service-img">
                                    <h2>Before & After</h2>
                                    <img ng-repeat="image in service.images" ng-src="{{image}}"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div id="service-2" ng-if="tab == 2">
            <div class="col s4">
                <h2>Skin Revision</h2>
                <p>
                    {{serviceCtrl.getServiceDesc(1)}}
                </p>
            </div>
            <div class="row col s8">
                <div class="col s4 m4" ng-repeat="service in serviceCtrl.services[1].options">
                    <div class="card" back-img="{{service.image}}">
                        <div class="card-content text-center">
                            <span class="card-title" id="service-card">{{service.name}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</div>


