<div class="row welcome">
    <div id="catch-phrase">
        <div id="inner-catch-phrase" class="col s12">
            <h1 class="white-text text-center">The Face Studio</h1>
            <p class="white-text text-center">Permanent Makeup & Skin Revision</p>
        </div>
        <div class="row">
            <div class="col s12 m3 offset-m3 text-center">
                <a class="waves-effect waves-teal btn white" href="#" scroll-to="services" ng-click="tab = 1">Cosmetic Tattoos</a>
            </div>
            <div class="col s12 m3 text-center">
                <a class="waves-effect waves-teal btn white" href="#" scroll-to="services" ng-click="tab = 2">Skin Revision</a>
            </div>
        </div>
    </div>
    <div class="col s12 m6 offset-m3">
        <div class="card" id="call-to-action">
            <div class="card-content white valign-wrapper">
                <span class="card-title valign text-center"><p class="flow-text">call today to book a FREE consultation <b class="flow-text">778.238.2826</b></p></span>
            </div>
        </div>

        <span class="col s12 text-center">
            <a href="#" scroll-to="about"><i class="large mdi-navigation-expand-more glyph-white"></i></a>
        </span>
    </div>
</div>